/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #238e8e;
    color: #685959;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
}
